<section class="todoapp">
  <header class="header">
    <h1>{{title}}</h1>
    <input class="new-todo" [(ngModel)]="todoInputModel" (keyup.enter)="add()" [placeholder]="placeholder" autofocus>
  </header>
  <section class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox" [checked]="toggleAllBtn" (click)="toggleAll()">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <li *ngFor="let item of nowTodoList; index as i" [class]="{completed: item.Status, editing: item.Editing}">
        <div class="view">
          <input class="toggle" type="checkbox" [checked]="item.Status" (click)="clickCheck(item)">
          <label (dblclick)="edit(item)">{{item.Thing}}</label>
          <button class="destroy" (click)="delete(item)"></button>
        </div>
        <input *ngIf="item.Editing" [(ngModel)]="item.Thing" #itemInput (keyup.enter)="item.Editing = false;"
          (blur)="item.Editing = false;" (mouseenter)="itemInput.focus()" class="edit" />
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"><strong>{{todoActive.length}}</strong> items left</span>
    <ul class="filters">
      <li>
        <a [class.selected]="nowTodoStatusType === TodoStatusType.All" (click)="setTodoStatusType(TodoStatusType.All)" href="#/">All</a>
      </li>
      <li>
        <a [class.selected]="nowTodoStatusType === TodoStatusType.Active" (click)="setTodoStatusType(TodoStatusType.Active)" href="#/active">Active</a>
      </li>
      <li>
        <a [class.selected]="nowTodoStatusType === TodoStatusType.Completed" (click)="setTodoStatusType(TodoStatusType.Completed)" href="#/completed">Completed</a>
      </li>
    </ul>
    <button class="clear-completed" (click)="ClearCompleted()" *ngIf="todoCompleted.length">Clear completed</button>
  </footer>
</section>


{{date | date: 'yyyy]MM:dd'}}